
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: black;
    /* background-image: url('img_pollo_locco/5_background/layers/air.png'); */
    background-repeat: no-repeat;
    background-size: cover;
}