
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    background-image: url('img_pollo_locco/background/art-1280.png');
    background-repeat: no-repeat;
    background-size: 100%;
}

canvas {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: url('img_pollo_locco/background/art-1280.png');
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
    }
}

@media only screen and (max-height: 480px){
    canvas {
        height: 100vh;
    }
}