body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: 'zabars', sans-serif;
}

.d-none {
    display: none !important;
}

h1 {
    font-size: 64px;
    letter-spacing: 3px;
    text-shadow: 2px 2px 10px white;
}

canvas {
    display: block;
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: 150px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background-image: url('img_pollo_locco/background/art-1280.png');
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#StartScreen {
    width: 720px;
    height: 480px;
    position: relative;
}

.start-btn-container {
    display: flex;
    justify-content: center;
    position: absolute;
    width: 720px;
}

.button {
    background-image: linear-gradient(180deg, orange 0%, yellow 35%, yellow 65%, orange 100%);
    box-shadow: 2px 2px 3px 1px brown;
    padding: 10px 30px 10px 30px;
    margin-top: 32px;
    cursor: pointer;
    font-size: 32px;
    text-shadow: 0px 0px 3px white;
    letter-spacing: 1.5px;
}

#StartScreen img {
    width: 100%;
    height: 100%;
}

.btn-section {
    display: none;
    width: 100%;
    height: 100vh;
    justify-content: space-between;
    align-items: flex-end;
    opacity: 0.5;
}

.btn-section-right-top {
    margin-top: 25px;
}

.btn-section-right-bottom {
    display: flex;
    flex-direction: row;
}

#audio-icon {
    cursor: pointer;
}

.btn-section-right {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 10px;
    margin-right: 10px;
}

.btn-section-left {
    margin-bottom: 6px;
    margin-left: 10px;
}

.btn-section-right-btn-throw {
    display: flex;
    width: 40px !important;
    height: 40px !important;
    border-radius: 100%;
    border: 5px solid white;
    position: relative;
    flex-direction: column-reverse;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.btn-info {
    width: 700px;
    height: 30px;
    background-image: linear-gradient(180deg, orange, yellow, orange);
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 10px 0px 10px;
}

.btn-info-icon-container {
    display: flex;
    align-items: center;
    font-size: 30px;
    text-shadow: 0px 0px 3px white;
}


.btn-info-bottle {
    display: flex;
    border-radius: 100%;
    border: 3px solid brown;
    width: 24px;
    height: 24px;
    justify-content: center;
    font-size: 26px;
    font-weight: lighter;
    color: brown;
}

/* .fullscreen {
    width: 720px;
    height: 30px;
    background-color: brown;
    position: absolute;
    top: 120px;
}

#btn-fullscreen {
    display: none;
} */

#btn-right,
#btn-left,
#btn-up,
#btn-throw {
    width: 50px;
    height: 50px;
}

#btn-right {
    rotate: 180deg;
    margin-left: 20px;
}

#btn-up {
    rotate: 90deg;
    margin-right: 20px;
}

#end-screen {
    width: 720px;
    height: 480px;
    position: absolute;
    top: 150px;
}

#end-screen img {
    width: 100%;
    height: 100%;
}

@font-face {
    font-family: 'zabars';
    src: url('fonts/zabars.ttf');
}

@media only screen and (max-width: 720px) {
    #StartScreen, #end-screen, .content, .start-btn-container {
        width: 100%;
        top: unset;
    }

    canvas {
        width: 100%;
        top: 150px;
    }

    #StartScreen img {
        object-fit: contain;
    }

    #headline {
        display: none;
    }

    .btn-section {
        display: flex;
    }

    .btn-info {
        display: none;
    }
}

@media only screen and (max-height: 480px) {
    #StartScreen, canvas, #end-screen, .content {
        height: 100vh;
        top: unset;
    }

    #headline {
        display: none;
    }

    .btn-info {
        display: none;
    }

    .btn-section {
        display: flex;
    }
}